<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>British/American translator</title>
    </head>
    <body>
        {% block header %}
            <div class="jumbotron">
                <h1>British/American Translator</h1>
            </div>
        {% endblock %}
        {% block body %}
            <div class="container">
                <form action="/" method="post">
                    <label for="us_word">Search by US word</label>
                    <input type="text" name="us_word">
                    <button type="submit">Search</button>
                </form>

                {% if us_words is not empty %}
                    {% for word in us_words %}
                    <li>{{word.getWord}}</li>
                    <li>{{word.getDefinition}}</li>
                    <li>{{word.getExample}}</li>
                    <li>{{word.getRegion}}</li>
                    {% endfor %}
                {% endif %}
                {% if uk_words is not empty %}
                    <li>{{uk_words.getWord}}</li>
                    <li>{{uk_words.getDefinition}}</li>
                    <li>{{uk_words.getExample}}</li>
                    <li>{{uk_words.getRegion}}</li>
                {% endif %}
                {% if us_words is empty %}
                <p> No words Sorry!
                </p>
                {% endif %}
                <a href="/add_US_word"><button type="button">Add a US word</button></a>
            </div>
        {% endblock %}
    </body>
</html>
