<!DOCTYPE html>
<html>
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <title>Search</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="jumbotron">Results</h1>
                    {% if output is empty%}
                    <div class="center">
                        <h3>No result found</h3>
                        <h3><a href="/add_word">Click here</a> to add your own word</h3><br>
                    </div>
                    {% endif %}
                    {% if output is not empty %}
                        <div class="center">
                            <h3>Your seach results:</h3><Br>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {% if output is not empty %}
                        {% for word in output %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Your Word</th>
                                        <th>Definition</th>
                                        <th>Example</th>
                                        <th>Region</th>
                                        <th>Country</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>{{ word.getWord }}</td>
                                        <td>{{ word.getDefinition }}</td>
                                        <td>{{ word.getExample }}</td>
                                        <td>{{ word.getRegion }}</td>
                                        <td>{{ word.getCountry }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            {% if word.getRegion == "Northern Ireland" %}
                                {<div id="map">
                                    <script> // Displays map with line between US and UK
                                        function initMap() {
                                            var northern_ireland = {lat: 54.7877, lng: -6.4923};
                                            var us = {lat: 37.0902, lng: -95.7129};
                                            var map_center = {lat: 47.838971, lng: -48.339844};
                                            var map = new google.maps.Map(document.getElementById("map"), {
                                                zoom: 2,
                                                center: map_center
                                            });
                                            var us_marker = new google.maps.Marker({
                                                position: us,
                                                map: map
                                            });
                                            var ni_marker = new google.maps.Marker({
                                                position: northern_ireland,
                                                map: map
                                            });
                                            var us_ni_coordinates = [
                                                {lat: 54.7877, lng: -6.4923},
                                                {lat: 37.0902, lng: -95.7129},
                                                ];
                                            var connector = new google.maps.Polyline({
                                                path: us_ni_coordinates,
                                                geodesic: true,
                                                strokeColor: '#FF0000',
                                                strokeOpacity: 1.0,
                                                strokeWeight: 2
                                            });

                                            connector.setMap(map);
                                        }
                                    </script>
                                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjBg7POcuWbLI8z7wzEvh6bxxn7nWwsCg&callback=initMap">
                                    </script>
                                </div><br>}
                            {% elseif word.getRegion == "Scotland" %}
                                <div id="map">
                                    <script> // Displays map with line between US and UK
                                        function initMap() {
                                            var scotland = {lat: 56.4907, lng: -4.2026};
                                            var us = {lat: 37.0902, lng: -95.7129};
                                            var map_center = {lat: 47.838971, lng: -48.339844};
                                            var map = new google.maps.Map(document.getElementById("map"), {
                                                zoom: 2,
                                                center: map_center
                                            });
                                            var us_marker = new google.maps.Marker({
                                                position: us,
                                                map: map
                                            });
                                            var sc_marker = new google.maps.Marker({
                                                position: scotland,
                                                map: map
                                            });
                                            var us_sc_coordinates = [
                                                {lat: 56.4907, lng: -4.2026},
                                                {lat: 37.0902, lng: -95.7129},
                                                ];
                                            var connector = new google.maps.Polyline({
                                                path: us_sc_coordinates,
                                                geodesic: true,
                                                strokeColor: '#FF0000',
                                                strokeOpacity: 1.0,
                                                strokeWeight: 2
                                            });

                                            connector.setMap(map);
                                        }
                                    </script>
                                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjBg7POcuWbLI8z7wzEvh6bxxn7nWwsCg&callback=initMap">
                                    </script>
                                </div><br>
                            {% elseif word.getRegion == "Wales" %}
                                <div id="map">
                                    <script> // Displays map with line between US and UK
                                        function initMap() {
                                            var wales = {lat: 52.1307, lng: -3.7837};
                                            var us = {lat: 37.0902, lng: -95.7129};
                                            var map_center = {lat: 47.838971, lng: -48.339844};
                                            var map = new google.maps.Map(document.getElementById("map"), {
                                                zoom: 2,
                                                center: map_center
                                            });
                                            var us_marker = new google.maps.Marker({
                                                position: us,
                                                map: map
                                            });
                                            var wa_marker = new google.maps.Marker({
                                                position: wales,
                                                map: map
                                            });
                                            var us_wa_coordinates = [
                                                {lat: 52.1307, lng: -3.7837},
                                                {lat: 37.0902, lng: -95.7129},
                                                ];
                                            var connector = new google.maps.Polyline({
                                                path: us_wa_coordinates,
                                                geodesic: true,
                                                strokeColor: '#FF0000',
                                                strokeOpacity: 1.0,
                                                strokeWeight: 2
                                            });

                                            connector.setMap(map);
                                        }
                                    </script>
                                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjBg7POcuWbLI8z7wzEvh6bxxn7nWwsCg&callback=initMap">
                                    </script>
                                </div><br>
                            {% elseif word.getRegion == "Southeast England" %}
                                <div id="map">
                                    <script> // Displays map with line between US and UK
                                        function initMap() {
                                            var se_england = {lat: 51.3125, lng: -0.205};
                                            var us = {lat: 37.0902, lng: -95.7129};
                                            var map_center = {lat: 47.838971, lng: -48.339844};
                                            var map = new google.maps.Map(document.getElementById("map"), {
                                                zoom: 2,
                                                center: map_center
                                            });
                                            var us_marker = new google.maps.Marker({
                                                position: us,
                                                map: map
                                            });
                                            var se_e_marker = new google.maps.Marker({
                                                position: se_england,
                                                map: map
                                            });
                                            var us_se_e_coordinates = [
                                                {lat: 51.3125, lng: 0.205},
                                                {lat: 37.0902, lng: -95.7129},
                                                ];
                                            var connector = new google.maps.Polyline({
                                                path: us_se_e_coordinates,
                                                geodesic: true,
                                                strokeColor: '#FF0000',
                                                strokeOpacity: 1.0,
                                                strokeWeight: 2
                                            });

                                            connector.setMap(map);
                                        }
                                    </script>
                                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjBg7POcuWbLI8z7wzEvh6bxxn7nWwsCg&callback=initMap">
                                    </script>
                                </div><br>
                            {% elseif word.getRegion == "Southwest England" %}
                                <div id="map">
                                    <script> // Displays map with line between US and UK
                                        function initMap() {
                                            var sw_england = {lat: 50.9421, lng: -2.6333};
                                            var us = {lat: 37.0902, lng: -95.7129};
                                            var map_center = {lat: 47.838971, lng: -48.339844};
                                            var map = new google.maps.Map(document.getElementById("map"), {
                                                zoom: 2,
                                                center: map_center
                                            });
                                            var us_marker = new google.maps.Marker({
                                                position: us,
                                                map: map
                                            });
                                            var sw_e_marker = new google.maps.Marker({
                                                position: sw_england,
                                                map: map
                                            });
                                            var us_sw_e_coordinates = [
                                                {lat: 50.9421, lng: -2.6333},
                                                {lat: 37.0902, lng: -95.7129},
                                                ];
                                            var connector = new google.maps.Polyline({
                                                path: us_sw_e_coordinates,
                                                geodesic: true,
                                                strokeColor: '#FF0000',
                                                strokeOpacity: 1.0,
                                                strokeWeight: 2
                                            });

                                            connector.setMap(map);
                                        }
                                    </script>
                                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjBg7POcuWbLI8z7wzEvh6bxxn7nWwsCg&callback=initMap">
                                    </script>
                                </div><br>
                            {% elseif word.getRegion == "London" %}
                                <div id="map">
                                    <script> // Displays map with line between US and UK
                                        function initMap() {
                                            var london = {lat: 51.5074, lng: -0.1278};
                                            var us = {lat: 37.0902, lng: -95.7129};
                                            var map_center = {lat: 47.838971, lng: -48.339844};
                                            var map = new google.maps.Map(document.getElementById("map"), {
                                                zoom: 2,
                                                center: map_center
                                            });
                                            var us_marker = new google.maps.Marker({
                                                position: us,
                                                map: map
                                            });
                                            var london_marker = new google.maps.Marker({
                                                position: london,
                                                map: map
                                            });
                                            var us_london_coordinates = [
                                                {lat: 51.5074, lng: -0.1278},
                                                {lat: 37.0902, lng: -95.7129},
                                                ];
                                            var connector = new google.maps.Polyline({
                                                path: us_london_coordinates,
                                                geodesic: true,
                                                strokeColor: '#FF0000',
                                                strokeOpacity: 1.0,
                                                strokeWeight: 2
                                            });

                                            connector.setMap(map);
                                        }
                                    </script>
                                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjBg7POcuWbLI8z7wzEvh6bxxn7nWwsCg&callback=initMap">
                                    </script>
                                </div><br>
                            {% elseif word.getRegion == "Midlands" %}
                                <div id="map">
                                    <script> // Displays map with line between US and UK
                                        function initMap() {
                                            var midlands = {lat: 52.4862, lng: -1.8904};
                                            var us = {lat: 37.0902, lng: -95.7129};
                                            var map_center = {lat: 47.838971, lng: -48.339844};
                                            var map = new google.maps.Map(document.getElementById("map"), {
                                                zoom: 2,
                                                center: map_center
                                            });
                                            var us_marker = new google.maps.Marker({
                                                position: us,
                                                map: map
                                            });
                                            var midlands_marker = new google.maps.Marker({
                                                position: midlands,
                                                map: map
                                            });
                                            var us_midlands_coordinates = [
                                                {lat: 52.4862, lng: -1.8904},
                                                {lat: 37.0902, lng: -95.7129},
                                                ];
                                            var connector = new google.maps.Polyline({
                                                path: us_midlands_coordinates,
                                                geodesic: true,
                                                strokeColor: '#FF0000',
                                                strokeOpacity: 1.0,
                                                strokeWeight: 2
                                            });

                                            connector.setMap(map);
                                        }
                                    </script>
                                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjBg7POcuWbLI8z7wzEvh6bxxn7nWwsCg&callback=initMap">
                                    </script>
                                </div><br>
                            {% elseif word.getRegion == "Yorkshire" %}
                                <div id="map">
                                    <script> // Displays map with line between US and UK
                                        function initMap() {
                                            var yorkshire = {lat: 53.7306, lng: -1.2345};
                                            var us = {lat: 37.0902, lng: -95.7129};
                                            var map_center = {lat: 47.838971, lng: -48.339844};
                                            var map = new google.maps.Map(document.getElementById("map"), {
                                                zoom: 2,
                                                center: map_center
                                            });
                                            var us_marker = new google.maps.Marker({
                                                position: us,
                                                map: map
                                            });
                                            var yorkshire_marker = new google.maps.Marker({
                                                position: yorkshire,
                                                map: map
                                            });
                                            var us_yorkshire_coordinates = [
                                                {lat: 53.7306, lng: -1.2345},
                                                {lat: 37.0902, lng: -95.7129},
                                                ];
                                            var connector = new google.maps.Polyline({
                                                path: us_yorkshire_coordinates,
                                                geodesic: true,
                                                strokeColor: '#FF0000',
                                                strokeOpacity: 1.0,
                                                strokeWeight: 2
                                            });

                                            connector.setMap(map);
                                        }
                                    </script>
                                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjBg7POcuWbLI8z7wzEvh6bxxn7nWwsCg&callback=initMap">
                                    </script>
                                </div><br>
                            {% elseif word.getRegion == "UK" %}
                                <div id="map">
                                    <script> // Displays map with line between US and UK
                                        function initMap() {
                                            var uk = {lat: 55.3781, lng: -3.4360};
                                            var us = {lat: 37.0902, lng: -95.7129};
                                            var map_center = {lat: 47.838971, lng: -48.339844};
                                            var map = new google.maps.Map(document.getElementById("map"), {
                                                zoom: 2,
                                                center: map_center
                                            });
                                            var us_marker = new google.maps.Marker({
                                                position: us,
                                                map: map
                                            });
                                            var uk_marker = new google.maps.Marker({
                                                position: yorkshire,
                                                map: map
                                            });
                                            var us_uk_coordinates = [
                                                {lat: 55.3781, lng: -3.4360},
                                                {lat: 37.0902, lng: -95.7129},
                                                ];
                                            var connector = new google.maps.Polyline({
                                                path: us_uk_coordinates,
                                                geodesic: true,
                                                strokeColor: '#FF0000',
                                                strokeOpacity: 1.0,
                                                strokeWeight: 2
                                            });

                                            connector.setMap(map);
                                        }
                                    </script>
                                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjBg7POcuWbLI8z7wzEvh6bxxn7nWwsCg&callback=initMap">
                                    </script>
                                </div><br>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="col-sm-6">
                    {% if UK_word is not empty %}
                        {% for uk in UK_word %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>UK Word</th>
                                        <th>Definition</th>
                                        <th>Example</th>
                                        <th>Region</th>
                                        <th>Country</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>{{ uk.getWord }}</td>
                                        <td>{{ uk.getDefinition }}</td>
                                        <td>{{ uk.getExample }}</td>
                                        <td>{{ uk.getRegion }}</td>
                                        <td>{{ uk.getCountry }}</td>
                                    </tr>
                                </tbody>
                            </table><br>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="col-sm-6">
                    {% if US_word is not empty %}
                        {% for us in US_word %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>US Word</th>
                                        <th>Definition</th>
                                        <th>Example</th>
                                        <th>Region</th>
                                        <th>Country</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>{{ us.getWord }}</td>
                                        <td>{{ us.getDefinition }}</td>
                                        <td>{{ us.getExample }}</td>
                                        <td>{{ us.getRegion }}</td>
                                        <td>{{ us.getCountry }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <form action="/" method="get">
                        <div class="center">
                            <button type="submit" class="btn btn-sm">Home</button>
                        </div>
                    </form>
                    </br>
                    <form action="/complete_list" method="get">
                        <div class="center">
                            <button type="submit" class="btn btn-sm">View All</button>
                        </div>
                    </form>
                    </br>
                </div>
                <form action="/add_US_word" method="get">
                    <div class="center">
                        <button type="submit" class="btn btn-sm">Add Word</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
